.templateBody {
    white-space: pre-line;
}

.templateSubject {
    font-weight: 500;
    font-size: 15px;

}

.templateBody {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 15px;
}

.templateSubject span {
    color: #999999;
    font-weight: normal;
}

.templateContent {
    text-align: left;
    padding: 0px 20px;
    font-size: 14px;
}

.templateContent Button {
    float: right;
}

.templateItem:hover {
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .templateContent {
        padding: 0px 12px;
    }
}