.dashboard {
    display: flex;
    flex-direction: column;
}

.statSection, .chartSection {
    display: flex;
    flex-direction: column;
}

.dashboardContainer {
    background-color: white;
    padding: 20px 30px;
    border-radius: 7px;
    box-shadow: 2px 2px 40px -20px lightgray;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboardContainer p {
    text-align: left;
    margin: 0;
}

.statName {
    text-align: left;
    color: gray;
    font-size: 14px;
}

.stat {
    font-size: 20px;
    font-weight: bold;
    color: gray;
}

.time {
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 10px;
}

.radioButton {
    display: none;
}

.radioButton:checked + .radioLabel {
    background-color: #dce0e6;
    font-weight: bold;
}

.radioLabel:hover {
    background-color: #dce0e6;
}

.radioLabel {
    display: inline-block;
    border: 1px solid #cad0db;
    padding: 7px;
    font-size: 12px;
    margin-bottom: 15px;
    transition: 500;
}

.first {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
}

.last {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.middle {
    border-right: none;
}

.radioLabel:hover {
    cursor: pointer;
}

.radioContainer {
    display: flex;
    flex-direction: row;
    padding: 10px 40px;
    justify-content: space-between;
}


@media only screen and (min-width: 850px) {

    .statContainer {
        width: 30%;
    }

    .chartContainer {
        width: 50%;
        padding: 15px;
    }

    .statSection, .chartSection {
        flex-direction: row;
    }
}
