.main {
    position: absolute;
    background-color: rgb(245, 245, 248);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 10%
}

.container {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    margin: 0 auto;
}

.sub {
    font-size: 14px;
    margin-top: 0px;
}

.sub a {
    text-decoration: underline;
    font-weight: 500;
    color: rgb(115, 131, 159);
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 50%
    }
}

@media only screen and (max-width: 700px) {
    .container {
        width: 70%
    }
}

@media only screen and (max-width: 500px) {
    .container {
        width: 90%
    }
}