.overlay {
    background: black;
    opacity: 0.3 !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    cursor: pointer;
}

.formContainer {
    background-color: white;
    border-radius: 7px;
    box-shadow: 2px 2px 40px -20px lightgray;
    display: flex;
    flex-direction: column;
    width: 50%;
    opacity: 1 !important;
    z-index: 250;
    position: fixed;
    max-height: 600px;
    top: 45%;
    left: 50%;
    margin-top: -250px;
    margin-left: -25%;
    padding-top: 20px;
}

.header {
    display: flex;
    justify-content: flex-end;
    margin-top: -17px;
    margin-right: -27px;
}

.formContainer form {
    height: 100%;
}


.link {
    text-decoration: none;
    color: white;
}

.selectMessage {
    font-size: 14px;
    color: #999999;
}

.xButton {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.xButton svg {
    font-size: 20px;
    color: #6f7478;
}

.templateBody {
    white-space: pre-line;
    text-align: left;
    font-size: 14px;
    line-height: 19px;
    width: 100%;
    height: 100%;
}

.templateContainer {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: auto;
    padding: 10px 25px;
    margin: 20px 25px;
    background-color: #f8f8f8;
    border-radius: 10px;

}

.templateSubject {
    font-weight: 500;
    text-align: left;
    font-size: 14px;
    margin-bottom: 0;
}

.doctor {
    margin: 0px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row !important;
    width: fit-content !important;
}

.doctor label {
    margin-left: 7px !important;
    display: inline !important;
    padding-bottom: 0px !important;
}

.buttonSection {
    display: flex;
    padding: 15px 30px;
    margin: 15px 0px 0px 0px;
    align-items: center;
    justify-content: flex-end;
    background-color: #F9F9F9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #EAEAEA;
}

@media only screen and (max-width: 800px) {
    .formContainer {
        width: 80%;
        left: 35%;
    }
}

@media only screen and (max-width: 500px) {
    .formContainer {
        width: 100%;
        height: 100%;
        max-height: none;
        left: 0;
        top: 0;
        margin: 0;
        border-radius: 0px;
        overflow-y: auto;
    }

    .buttonSection {
        margin-top: auto;
    }
}