.tableHeader {
    display: table-header-group;
    border: 0px;
    margin-left: 0px;
    background-color: #f9f9f9;

}

.tableHeader .project {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.tableHeader .notes {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.tableHeader div {
    padding: 14.5px 10px;
    text-align: left;
    color: #949ba2;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: normal;
    display: table-cell;
}

.tableHeader svg {
    padding-left: 4px;
    cursor: pointer;
    font-size: 10.5px;
    opacity: 0.7;
}

.status {
    width: 10%;
    min-width: 120px;
}

.project {
    width: 25%;
    max-width: 180px;
    padding-left: 20px !important;
}

.contact {
    width: 15%;
}

.pm {
    width: 9%;
    min-width: 90px;
}

.notes {
    width: 18%;
}

.date {
    width: 8%;
    min-width: 80px;
}

.project,
.contact,
.notes,
.pm {
    white-space: nowrap;
    overflow-x: hidden !important;
    text-overflow: ellipsis;
}

.notes,
.contact,
.project,
.date,
.pm {
    text-align: left;
}

.status,
.check {
    text-align: center;
}

.tableRow {
    font-size: 14px;
    display: table-row;
    position: relative;
}

.tableRow>div:not(.actions) {
    display: table-cell;
    padding: 8px 10px;
    border-bottom: 1px solid #EAEAEA;
}

.tableRow a {
    color: rgb(121, 131, 146);
}

.tableRow button {
    padding: 2px;
    background-color: transparent;
    border: none;
}

.hideList {
    display: none;
}

.showList {
    display: block;
}

.srOnly:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: white;
}

.popup p {
    font-size: 14px;
}

.popupActions i {
    padding: 10px;
    font-size: 18px
}

.popupActions {
    margin-top: 50px;
}

.close {
    float: right;
    top: 20px;
    right: 20px;
    font-size: 25px !important;
    padding: 20px;
}

.heading {
    font-size: 18px !important;
    font-weight: bold;
    color: #9299a8;
}

.first {
    margin-top: 15vh;
}

.info {
    text-align: left;
    margin: 0 auto;
    width: 70%;
    display: block;
}

.columnName {
    font-weight: bold;
    color: #9299a8;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    margin-right: 10px;
}



@media only screen and (max-width: 800px) {
    .hideTablet {
        display: none;
    }

    .projectHeader div {
        padding-left: 15px !important;
    }

    .project {
        padding-left: 20px;
    }

    .tableRow:hover {
        cursor: pointer;
    }

    .actions {
        display: none !important;
    }

    .mobileActions.show {
        display: block;
    }

    .mobileActions.hide {
        display: none;
    }
}

.tableRow .actions {
    text-align: right;
    display: none;
    /* width: 0px !important; */
}

.tableRow:hover .actions {
    background: white;
    padding-left: 15px;
    display: inline-flex;
    height: 100%;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    border-bottom: 1px solid #EAEAEA;
}

.tableRow:hover .actions svg {
    cursor: pointer;
}

.tableRow svg {
    font-size: 17px;
    margin: 0 12px 0px 0px;
    color: #3e3e3e;
}

.tableRow svg:hover {
    opacity: 0.6;
    transition: 0.2s;
}

.actions .email svg {
    font-size: 18.5px;
    margin-bottom: -3px;
}