.accountContainer {
    border-radius: 10px;
    margin: 15px;
    border: 1px solid #EAEAEA;
}

.accountContainer h2 {
    display: block;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    border-bottom: 1px solid #EAEAEA;
    padding: 5px 30px 20px 30px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.left,
.right {
    display: flex;
    padding: 0px 0px 10px 0px;
}

.right {
    flex-direction: column;
    justify-content: center;
}

.right button:first-of-type {
    margin-bottom: 10px;
}

.left p {
    padding: 0px 0px 0px 8px;
    margin: 0px;
    text-align: left;
}

.left {
    align-items: center;
}

.name {
    font-size: 18px;
    font-weight: 500;
}

.email {
    margin-top: 7px !important;
    font-size: 15px;
    color: #7f8799;
}

@media only screen and (max-width: 550px) {
    .accountContainer {
        margin: 15px 0px 0px 0px;
    }

    .content {
        flex-direction: column;
        padding: 0px 15px 5px 15px;
    }

    .accountContainer h2 {
        padding: 5px 15px 20px 15px;
    }

    .right button:first-of-type {
        margin-right: 10px;
    }

    .left {
        margin-top: 10px;
    }

    .right {
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 20px;
    }
}