
.pmList {
    list-style: none;
    padding: 0;
}

.pageContainer {
    display: flex;
    flex-direction: column;
}

.accountContainer {
    background-color: white;
    padding: 20px 30px;
    border-radius: 7px;
    box-shadow: 2px 2px 40px -20px lightgray;
    margin: 15px;
}

.pageContainer h2 {
    font-size: 17px;
}

.icon {
    font-size: 75px;
    color: #a0a8ba;
    padding: 20px;
}

.name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    padding-bottom: 0;
    letter-spacing: 0.5px;
    color: #464d54;
}

.email {
    font-size: 12px;
    color: #7f8799;
    margin-top: 5px;
}

.pmItem, .addPm {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.addButton {
    background-color: #7fba84;
    color: white;
    border: 1px solid #7fba84;
}

.addButton:hover {
    background-color: #3e8044;
    border: 1px solid #3e8044;
}

.pmDetails, .addPm {
    display: flex;
    flex-direction: column;
}

.addPm Button {
    min-width: 90px;
}

.addPm input {
    max-width: 150px;
    min-width: 70px;
}

.delete {
    margin-left: 10px;
}

.guideContainer {
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    border-radius: 0;
}

.instructionContent {
    height: 100%;
    position: relative;
}

.addMessage {
    background-color: #e0f0df;
    color: #0c5c07;
    width: 50%;
    margin: 30px auto;
    border-radius: 10px;
    font-size: 14px;
}


@media only screen and (min-width: 800px) {
    .pageContainer {
        flex-direction: row;
    }

    .pmSettings {
        width: 65%;
    }

    .accountInfo {
        width: 35%;
    }

    .pmItem, .addPm {
        padding: 10px 30px;
    }

    .guideContainer {
        top: 5%;
        height: 90%;
        width: 60%;
        left: 20%;
        border-radius: 10px;
    }    
}

@media only screen and (min-width: 500px) {
    .pmDetails, .addPm {
        flex-direction: row;
    }

    .email {
        font-size: 14px;
        margin-left: 10px;
        margin-top: 0;
    }
}