.pageContainer {
    display: flex;
    flex-direction: column;
}

.pageContainer>h2 {
    font-size: 22px;
    text-align: left;
    margin-left: 15px;
    font-weight: 500;
    display: block;
}


@media only screen and (min-width: 800px) {

    .pageContainer>h2 {
        display: none;
    }

}

@media only screen and (max-width: 500px) {
    .pageContainer.onboardingOpen {
        padding-bottom: 100px;
    }

    .pageContainer>h2 {
        margin-left: 10px;
    }
}