
.pmList {
    list-style: none;
    padding: 0;
}

.pageContainer {
    display: flex;
    flex-direction: column;
}

.accountContainer {
    background-color: white;
    padding: 20px 30px;
    border-radius: 7px;
    box-shadow: 2px 2px 40px -20px lightgray;
    margin: 15px;
}

.pageContainer h2 {
    font-size: 17px;
}

.icon {
    font-size: 75px;
    color: #a0a8ba;
    padding: 20px;
}

.name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    padding-bottom: 0;
}

.email {
    font-size: 14px;
    color: #7f8799;
}

@media only screen and (min-width: 800px) {
    .pageContainer {
        flex-direction: row;
    }

    .pmSettings {
        width: 65%;
    }

    .accountInfo {
        width: 35%;
    }
}