
.table {
    width: 100%;
    display: table;
    margin: 0 auto;
}

.table-header {
    display: table-header-group;
    background-color: grey;
    font-weight: bold;
}

.table-header-cell {
    display: table-cell;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid black;
}

.table-body {
    display: table-row-group;
}

.table-row {
    display: table-row;
    height: 30px;
}

.table-body-cell {
    display: table-cell;
    padding: 3px 0;
}

.table-body-cell button {
    padding: 2px;
    background-color: transparent;
    border: none;
}

#status {
    width: 20px;
}

.list img {
    height: 15px;
}


