.hideList {
    display: none;
}

.showList {
    display: block;
}

.icon i {
    color: #9299a8;
    cursor: pointer;
}

.srOnly:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

  .status {
      display: flex;
      align-items: center;
      justify-content: center;
  }

.statusSelect {
    display: inline-block;
    width: 75px;
    font-size: 11.5px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    padding: 5px 2px;
    cursor: pointer;
    color: #6b7282;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

.pendingBullet, .newBullet {
    font-size: 20px;
    display: inline-block;
    margin-right: 3px;
}

.pendingBullet {
    color: #7bad81;
}

.newBullet {
    color: #b06468;
}

.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: white;
}

.popup p {
    font-size: 14px;
}

.close {
    float: right;
    top: 20px;
    right: 20px;
    font-size: 25px !important;
    padding: 20px;
}

.heading {
    font-size: 18px !important;
    font-weight: bold;
    color: #9299a8;
}

.first {
    margin-top: 15vh;
}

.info {
    text-align: left;
    margin: 0 auto;
    width: 70%;
    display: block;
}

.columnName {
    font-weight: bold;
    color: #9299a8;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    margin-right: 10px;
}

.popupActions i {
    padding: 10px;
    font-size: 18px
}

.popupActions {
    margin-top: 50px;
}

