.table-row i {
    font-size: 17px;
    margin: 0 7px;
    color: gray;
}

.row {
    padding: 10px;
}

.proj-cell, .adv-cell, .notes-cell {
    max-width: 136px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div .notes-cell, div .adv-cell, div .proj-cell {
    padding: 0 10px;
}




