.table-row i {
    font-size: 17px;
    margin: 0 7px;
    color: gray;
}

div .table-body-cell {
    padding: 10px 0;
}

.proj-cell, .adv-cell, .notes-cell {
    max-width: 136px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div .notes-cell, div .adv-cell, div .proj-cell {
    padding: 0 10px;
}

.hide-list {
    display: none;
}

.show-list {
    display: block;
}

.status-icon i {
    font-size: 20px;
}

.icon-list li {
    list-style: none;
    border-bottom: 1px solid gray;
    padding: 6px;
    font-size: 12px;
}

.icon-list {
    position: fixed;
    background: lightgray;
    padding: 6px;
    text-align: left;
    margin-top: 4px;
    margin-left: 5px;
    border-radius: 5px;
}

.icon-list .last {
    border-bottom: none;
}




