.pmSettings {
    padding: 10px 30px;
    border-radius: 10px;
    margin: 30px 15px 15px 15px;
    border: 1px solid #EAEAEA;
}

.pmSettings h2 {
    text-align: left;
    font-weight: 500;
    font-size: 18px;
}

.addPm {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.addPm Button {
    min-width: 90px;
}

.delete {
    margin-left: 10px;
}

.addMessage {
    width: 50%;
    margin: 30px auto;
    border-radius: 10px;
    font-size: 14px;
}