.pmSettings {
    background-color: white;
    padding: 20px 30px;
    border-radius: 7px;
    box-shadow: 2px 2px 40px -20px lightgray;
    margin: 15px;
}

.addPm {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.addButton {
    background-color: #7fba84;
    color: white;
    border: 1px solid #7fba84;
}

.addButton:hover {
    background-color: #3e8044;
    border: 1px solid #3e8044;
}

.addPm Button {
    min-width: 90px;
}

.delete {
    margin-left: 10px;
}

.addMessage {
    background-color: #e0f0df;
    color: #0c5c07;
    width: 50%;
    margin: 30px auto;
    border-radius: 10px;
    font-size: 14px;
}

@media only screen and (min-width: 800px) {
    .pmSettings {
        width: 65%;
    }

    .addPm {
        padding: 10px 30px;
    }
}

@media only screen and (min-width: 500px) {
    .addPm {
        flex-direction: row;
    }
}