
.table {
    width: 100%;
    display: table;
    margin: 0 auto;
}

.table div {
    padding: 8px 0;
}

.table-header {
    display: table-header-group;
    font-weight: bold;
}

.table-header div {
    background-color: lightgray;
}

.table-header-cell {
    display: table-cell;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;
}

.table-body {
    display: table-row-group;
}

.table-row {
    display: table-row;
}

.table-body-cell {
    display: table-cell;
}

.table-body-cell button {
    padding: 2px;
    background-color: transparent;
    border: none;
}

#status {
    width: 20px;
}



