
.table {
    width: 100%;
    display: table;
    margin: 0 auto;
}

.table div {
    padding: 8px 0;
    font-size: 14px;
}

.table-header {
    display: table-header-group;
}

.table-header div {
    background-color: lightgray;
    font-weight: bold;
}

.table-header-cell {
    display: table-cell;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;
}

.table-body {
    display: table-row-group;
}

.table-row {
    display: table-row;
}

.table-body-cell {
    display: table-cell;
}

.table-body-cell button {
    padding: 2px;
    background-color: transparent;
    border: none;
}

#status {
    width: 20px;
}

.hide-desktop {
    display: none !important;
}


@media only screen and (max-width: 700px) {
    .hide-mobile {
        display: none !important;
    }

    .hide-desktop {
        display: block !important;
    }
    
    .table-row div {
        font-size: 14px;
    }

    .proj-cell, .adv-cell {        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .proj-cell {
        max-width: 100px;
    }

    .adv-cell {
        max-width: 70px;
    }

    .table-row i {
        font-size: 16px;
        margin: 1px;
    }

    .status-icon i {
        font-size: 20px;
    }

    
}


