.check {
    width: 30px;
}

.check input {
    cursor: pointer;
}

div.status.tableBodyCell {
    width: 45px;
    padding: 0;
}

.project {
    max-width: 150px;
}

.contact {
    max-width: 90px;
}

.pm {
    max-width: 60px;
    min-width: 20px;
}

.notes {
    max-width: 130px;
}

.date {
    width: 80px;
}

.actions {
    width: 90px
}

.project, .contact, .notes, .pm {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div .notes, div .contact, div .project, div .date, div .pm {
    padding: 0 10px;
    text-align: left;
}

div.actions, div.status, div.check {
    text-align: center;
}

@media only screen and (max-width: 811px) {
    div .mobileActions {
        width: 40px;
        display: table-cell;
    }

    div .status {
        min-width: 90px;
    }

    div .contact {
        min-width: 100px;
    }

}

