.check {
    width: 30px;
}

.check input {
    cursor: pointer;
}

div.status {
    padding: 0;
    width: 90px;
}

.project {
    max-width: 150px;
    min-width: 110px;
}

.contact {
    min-width: 70px;
    max-width: 100px;
}

.pm {
    max-width: 65px;
    min-width: 20px;
}

.notes {
    max-width: 130px;
}

.date {
    min-width: 70px;
    max-width: 80px;
}

.actions {
    width: 120px;
    padding-left: 15px;
}

.project, .contact, .notes, .pm {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div .notes, div .contact, div .project, div .date, div .pm {
    padding: 0 11px;
    text-align: left;
}

div.actions, div.status, div.check {
    text-align: center;
}

div .actions {
    padding-right: 15px;
}

div .check {
    padding-left: 22px;
}

@media only screen and (max-width: 800px) {
    div .project {
        padding-left: 20px;
    }

    div .actions {
        width: 100px;
    }
}

@media only screen and (max-width: 600px) {
    div .mobileActions {
        width: 40px;
        display: table-cell;
    }

    div .status {
        min-width: 90px;
    }

    div .contact {
        min-width: 100px;
    }

}

