.table {
    width: 100%;
    display: table;
    margin: 0 auto;
    
}

.table a {
    text-decoration: none;
    color: #365d75;
}

.tableHeader {
    display: table-header-group;
}

.tableHeader div {
    background-color: #e1e3f0;
    padding: 12px 10px;
    text-align: left;
    text-transform: uppercase;
    color: #5f697d;
    font-weight: 800;
    font-size: 11px;
    letter-spacing: 0.5px
}

.tableHeaderCell {
    display: table-cell;
    padding: 10px;
    
}

.tableHeaderCell i {
    padding-left: 4px;
    cursor: pointer;
    font-size: 12px;
}

div .tableHeaderCell {
    height: 25px;
}

.tableRow {
    display: table-row;
    font-size: 13px;
}

.tableRow i {
    font-size: 15px;
    margin: 0 4px;
    color: gray;
}

.tableBody{
    display: table-row-group;
}

.tableBodyCell {
    display: table-cell;
    padding-top: 18px;
}

.tableBodyCell button {
    padding: 2px;
    background-color: transparent;
    border: none;
}

.hideDesktop {
    display: none;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.pointer:hover {
    cursor: pointer;
}

.listContainer {
    background-color: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 2px 2px 40px -20px lightgray;
}

.listContainer {
    margin-bottom: 50px;
}

@media only screen and (max-width: 810px) {
    .hideMobile {
        display: none;
    }

    .tableRow i {
        font-size: 16px;
        margin: 1px;
    }
}

@media only screen and (max-width: 1020px) {
    .tableRow i {
        margin: 0 1px;
    }
}

