.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.nav a:first-of-type,
.banner a:first-of-type {
    margin-right: 15px;
}

.logo {
    width: 135px;
}

.heading {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -0.01em;
    margin: 12px 0px 5px 0px;
}

.subheading {
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 40px;
    max-width: 450px;
    line-height: 27px;
}

.container {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: auto;
}

.banner {
    height: 53vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bannerMockup {
    width: 80%;
    margin: 0px auto 40px auto;

}

.bannerMockup img {
    width: 100%;
    border-radius: 10px;
}

.mockup {
    box-shadow: 0 4px 20px 4px rgba(0, 0, 0, .02), 0 2px 10px 2px rgba(0, 0, 0, .04);
    border-radius: 10px;
}

.section {
    margin: 100px 0px;
}

.problemContainer {
    background-color: #F9F9F9;
    width: 92%;
    margin: 0px auto;
    padding: 40px 50px;
    border-radius: 20px;
    text-align: left;
}

.section h2 {
    font-size: 24px;
    font-weight: 500;
    text-align: left;
}

.problemContainer p {
    font-size: 18px;
    line-height: 24px;
}

.problemContainer p:first-of-type {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.solution {
    width: 90%;
    margin: 0 auto;
    background-color: white;
}

.solution h2 {
    margin-bottom: 40px;
}

.solution .details {
    display: flex;
}

.solution img {
    width: 65%;
    height: 100%;
}

.solution .featureList {
    width: 35%;
    padding-left: 80px;
    text-align: left;
}

.stickContainer {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
}

.featureList h3 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0px;
}

.featureList p {
    margin-top: 5px;
    font-size: 17px;
    line-height: 24px;
}

.featureList>div:not(.featureList>div:last-of-type) {
    margin-bottom: 30px;
}

.featureList>div>div {
    height: 35px;
    width: 35px;
}

.featureList svg {
    font-size: 16px;
}

.last {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 90px;
    margin-bottom: 10px;
    margin-top: 1000px;
}

.last .heading {
    font-size: 24px;
    margin-bottom: 50px;
}

.last .buttonSection a:first-of-type {
    margin-right: 20px;
}

.footer {
    padding: 15px 45px;
    background-color: #F7FAFA;
    display: flex;
    justify-content: space-between;
}

.footerDetails {
    display: flex;
    align-items: center;
}

.footerDetails a {
    margin-right: 15px;
}

.footerDetails svg {
    font-size: 20px;
}

.footerDetails svg,
.footer p {
    color: #8e97a3;
}

.footer p {
    margin-right: 20px;
    font-size: 15px;
    font-weight: 500;
}

.footer img {
    height: 70px;
    width: auto;
}