@font-face {
    font-family: 'HK Grotesk Reg';
    font-style: normal;
    font-weight: 400;
    src: url('../../components/Utils/TTF/HKGrotesk-Regular.ttf')
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}

.h1, .text, .h2, .sectionHeader, .button {
    font-family: 'HK Grotesk Reg';
}

.h1 {
    font-size: 38px;

}

.h2 {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 50px;
}

.sectionHeader {
    color: #28735e;
}

.section {
    display: flex;
    justify-content: space-around;
    padding: 80px 50px;
}

.section1 {
    background-color: #edf5f3;
}

.section2 {
    background-color: #bed4ce
}

.section3 {
    flex-direction: column;
}

.section4 {
    background-color: #185e4b;
    color: white;
}

.section4 .sectionHeader {
    color: white;
}

.section3 .sectionContent, .section3 .dash {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.sectionContent {
    width: 40%;
    text-align: left;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.dashContainer .text {
    margin-bottom: 50px;    
}


.iphoneContainer {
    width: 30%;
    margin-bottom: -900px;
}

.iphone1, .iphone2 {
    position: relative;
}

.iphone1 {
    height: 30%;
}

.iphone2 {
    top: -25%;
    right: 60px;
    height: 25%;
}

.deviceMacbook {
    width: 40%;
}

.logo {
    width: 200px;
    margin-top: 20px;
}

.banner {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    width: 100px;
    height: 40px;
    margin-top: 40px;
    border: none;
    background-color: #32997c;
    color: white;
    font-size: 15px;
}

.button a {
    color: white;
}

.button:hover {
    border: none;
    background-color: #28735e;
}
