@font-face {
    font-family: 'Eina';
    font-style: normal;
    font-weight: 400;
    src: url('../../components/Utils/fonts/Eina01-Light.ttf')
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}

.h1, .text, .h2, .sectionHeader, .button {
    font-family: 'Eina';
}

.h1 {
    font-size: 38px;

}

.h2 {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 50px;
}

.sectionHeader {
    color: #28735e;
}

.section {
    display: flex;
    justify-content: space-around;
    padding: 80px 50px;
    align-items: center;
}

.section1 {
    background-color: #edf5f3;
}

.section2 {
    background-color: #bed4ce
}

.section3 {
    flex-direction: column;
}

.section4 {
    background-color: #185e4b;
    color: white;
}

.section4 .sectionHeader {
    color: white;
}

.section3 .sectionContent, .section3 .dash {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.sectionContent {
    width: 40%;
    text-align: left;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.dashContainer .text {
    margin-bottom: 50px;    
}


.deviceIphone {
    width: 25%;
    position: relative;
}

.iphone {
    position: relative;
    z-index: 10;
}

.templates {
    position: absolute;
    width: 69.9%;
    top: 7.7%;
    left: 14.5%;
    height: 80.3%;
}

.list {
    width: 75%;
    position: absolute;
    top: 11%;
    left: 13%;
    height: 73%;
    z-index: 0;
}

.macbook {
    z-index: 10;
    position: relative;
}

.deviceMacbook {
    width: 55%;
    position: relative;
}


.logo {
    width: 200px;
    margin-top: 20px;
}

.banner {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    width: 100px;
    height: 40px;
    margin-top: 40px;
    border: none;
    background-color: #32997c;
    color: white;
    font-size: 15px;
}

.button a {
    color: white;
}

.button:hover {
    border: none;
    background-color: #28735e;
}

@media only screen and (max-width: 700px) {
    .h1 {
        font-size: 32px;
    }

    .banner {
        padding: 0px 40px;
    }
    .section1 {
        flex-direction: column-reverse;
    }

    .sectionContent {
        width: 90%;
    }

    .deviceMacbook {
        width: 90%;
    }

    .deviceIphone {
        width: 70%;
    }

    .section2, .section4 {
        flex-direction: column;
    }
}
