@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600&display=swap');

.App {
    font-family: "Roboto";
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-weight: 300;
    font-size: 20px;
}

p {
    padding: 10px 0;
}

button:hover {
 cursor: pointer;
}

