.App {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-size: 16px;
}

p {
    padding: 10px 0;
}

label {
    font-size: 13px;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-left: 270px;
    position: absolute;
    right: 0;
    left: 0;
    top: 50px;
    bottom: 0;
    padding: 0 15px;
    overflow-y: auto;
    height: auto;
}

.content {
    height: auto;
    width: 95%;
}

.content:after {
    content: " ";
    clear: both;
    height: 40px;
    display: block;
}

.form {
    border: 1px solid #EAEAEA;
    width: 70%;
    margin: 30px auto;
    text-align: left;
    padding: 0px;
    border-radius: 10px;
    background-color: white;
}

.form h2 {
    font-weight: 500;
    padding: 5px 25px 20px 25px;
    border-bottom: 1px solid #EAEAEA;
    font-size: 18px;
}

.form-section {
    display: flex;
    width: 100%;
}

.form-item input,
.form-item textarea {
    width: 100%;
}

.form-item {
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.form-item label {
    padding-bottom: 8px;
    font-weight: 500;
}

.form-section .form-item:nth-of-type(2) {
    padding-left: 0px;
}

.form .form-buttons {
    display: flex;
    padding: 15px 25px;
    margin-top: 20px;
    border-top: 1px solid #EAEAEA;
    width: 100%;
    justify-content: flex-end;
    background-color: #F9F9F9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form .form-buttons>*:first-child {
    margin-right: 15px;
}

.form.no-container {
    border: none;
    margin: 0;
    width: 100%;
}

@media only screen and (max-width: 1065px) {
    .container {
        margin-left: 0px;
        top: 65px;
    }

    .content {
        padding-top: 15px;
    }

    .form {
        width: 70%;
    }
}

@media only screen and (max-width: 810px) {
    .content {
        width: 96%;
    }

    .form {
        width: 100%;
    }

    .form-section {
        flex-direction: column;
    }

    .form-section .form-item:nth-of-type(2) {
        padding-left: 25px;
    }

    .form .form-buttons {
        justify-content: space-between;
    }

}