@font-face {
    font-family: 'Eina';
    font-style: normal;
    font-weight: 400;
    src: url('../../components/Utils/fonts/Eina03-Regular.ttf')
}

@font-face {
    font-family: 'Eina Light';
    src: url('../../components/Utils/fonts/Eina03-Light.ttf')
}

@font-face {
    font-family: 'Eina Semibold';
    src: url('../../components/Utils/fonts/Eina01-SemiBold.ttf')
}

.App {
    font-family: "Eina";
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.02em;
}

h2 {
    font-size: 16px;
}

p {
    padding: 10px 0;
}

label {
    font-size: 13px;
    color: #636d7d;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-left: 240px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background: #F9FBFD;
    padding: 0 15px;
    height: 100%;
    overflow-y: scroll;
}

.content {
    width: 95%;
}

@media only screen and (max-width: 1065px) {
    .container {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 810px) {
    .content {
        width: 96%;
    }

}

