.templateContainer {
    display: flex;
    flex-direction: row;
}

.templateList {
    width: 20%;
    background-color: #f0f4f7;
    border: 1px solid #f0f4f7;
}

.templateWindow {
    width: 80%;
    border: 1px solid #f0f4f7;
    border-left: none;

}

.pageContainer {
    background-color: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 2px 2px 40px -20px lightgray;
}

.newButton {
    background-color: #7fba84;
    color: white;
    border: 1px solid #7fba84;
    margin-top: 20px;
}

.newButton:hover {
    background-color: #3e8044;
    border: 1px solid #3e8044;
}

.templateSelect {
    display: none;
}

.templateHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0 30px;
    font-size: 14px;
    color: #a7aab0;
}

.fieldSection {
    padding-top: 15px;
}

.textAreaSection {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.textAreaLabel {
    margin-right: 5px;
}

.textArea {
    min-height: 300px;
}


.input {
    width: 300px;
}

@media only screen and (max-width: 850px) {
    .templateList {
        display: none;
    }

    .templateWindow {
        width: 100%;
        border-left: 1px solid #f0f4f7;
        min-height: 200px;
    }

    .templateSelect {
        display: block;
        margin-bottom: 20px;
    }

    .templateContainer {
        flex-direction: column;
    }

    .templateHeader {
        padding: 10px;
    }
    
    .templateHeader h3 {
        font-size: 13px;
    }

    .templateHeader Button {
        padding: 7px;
    }

    .input {
        width: 90%;
    }

    .textArea {
        width: 100%;
        margin: 0 5%;
        min-height: 200px;
    }

    .textAreaLabel {
        display: none;
    }

    .input, .textArea {
        font-size: 11px;
    }
}