@media only screen and (max-width: 768px) {
    .table-row div {
        font-size: 12px;
    }

    .table-body-cell {
        white-space: nowrap;
        overflow: hidden;
    }

    .table-row i {
        font-size: 16px;
        margin: 1px;
    }

    .popup {
        position: absolute;
        border: 1px solid black;
        width: 50%;
        background-color: white;
        left: 40%;
        text-align: center;
    }

    .popup div {
        padding: 7px 12px;
        border-bottom: 1px solid black;
    }

    div .popup {
        padding: 0;
        border-bottom: none;
    }
}