@media only screen and (max-width: 970px) {
    .table-row div {
        font-size: 14px;
    }

    .proj-cell, .adv-cell {        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .proj-cell {
        max-width: 100px;
    }

    .adv-cell {
        max-width: 70px;
    }

    .table-row i {
        font-size: 16px;
        margin: 1px;
    }

    .status-icon i {
        font-size: 20px;
    }

    .popup {
        position: absolute;
        border: 1px solid black;
        width: 50%;
        background-color: white;
        left: 40%;
        text-align: center;
    }

    .popup div {
        padding: 7px 12px;
        border-bottom: 1px solid black;
    }

    div .popup {
        padding: 0;
        border-bottom: none;
    }
}