.addContactButton {
    margin: 10px 25px 30px 25px;
    border: none;
    background-color: #f9f9f9;
    color: #6f7478;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
}

.addContactButton:hover {
    cursor: pointer;
}

.addContactButton svg {
    margin-right: 5px;
}

.pmError {
    color: red;

}

.pmError select {
    border: 1px solid red;
}

.pmError span {
    font-size: 11px;
    margin-left: 108px;
    margin-top: 10px;
    display: block;
}

@media only screen and (max-width: 500px) {
    .onboardingOpen {
        bottom: 80px !important;
    }
}