.formSection {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

.formPair {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0px 10px;
}

.formPair label {
    margin-bottom: 5px;
}

.notesLabel {
    margin-right: 5px;
}

.notes {
    width: 300px;
    height: 100px;
    font-size: 13px;
}

.pm {
    margin-top: 30px;
    margin-bottom: 20px;
}