.tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.search {
    width: 230px;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select {
    color: #828282;
    margin-right: 5px;
}

a {
    text-decoration: none;
}

.addButton {
    background-color: #7fba84;
    color: white;
    border: 1px solid #7fba84;
}

.addButton:hover {
    background-color: #3e8044;
    border: 1px solid #3e8044;
}

.hide {
    display: none;
}


@media only screen and (max-width: 800px) {
    .tools button {
        width: 100px;
    }
    
    .hideMobile {
        display: none;
    }

}

@media only screen and (max-width: 530px) {
    .tools {
        flex-direction: column;
    }

    .toolButton, .addButton {
        margin-top: 15px;
    }
}
