.tools {
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 768px) {
    .tools {
        flex-direction: column;
    }

    .tools button {
        width: 100px;
    }

}