.templateItem {
    padding: 10px 12px;
    text-align: left;
    font-size: 14px;
    width: 80%;
    border-radius: 5px;
}

.templateItem:hover {
    cursor: pointer;
}

.current {
    font-weight: 500;
    background-color: #F9F9F9;
}