.templateItem {
    padding: 20px 12px;
    text-align: left;
    font-size: 13px;

    font-weight: 600;
    color: gray;
}

.templateItem:hover {
    cursor: pointer;
}

.current {
    background-color: #e6ebf5;
}