.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.headerDetails span {
    padding: 0 8px;
    font-size: 13px;
}

.headerTitle {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    color: #4d4d4d;
    letter-spacing: 0.6px;
}

@media only screen and (max-width: 1065px) {
    .headerDetails {
        display: none;
    }

    .headerContainer {
        margin-top: 40px;
        justify-content: center;
    }
}