* {
    box-sizing: border-box;
}

.nav {
    display: block;
    position: fixed;
    /* box-shadow: 2px 0 40px -20px lightgray; */
    border-right: 1px solid #EAEAEA;
    height: 100%;
    width: 270px;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    background-color: white;
    height: 100vh;
    z-index: 100;
}

.tabList {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
}

.tab {
    padding: 12px 10px;
    margin: 5px auto;
    width: 88%;
    text-align: left;

    border-radius: 5px;
}

.tab:hover>.tabContent {
    transition: 0.5s;
}

/* .tab:hover {
    background-color: #f7f9fc;
} */

.tabTitle {
    display: inline-block;
    padding: 0;
    line-height: normal;
    font-size: 15px;
    font-weight: 500;
}


.tab i {
    font-size: 17px;
}

:global .active {
    background-color: #f9f9f9;
}

.tabContent {
    color: black;
}

.account {
    position: absolute;
    bottom: 10px;
    left: 14px;
}

.hidden {
    display: none;
}

.logo {
    width: 100%;
    padding-left: 25px;
    padding-right: 115px;
    margin-top: 42px;
    margin-bottom: 50px;


}

@media only screen and (max-width: 1065px) {
    .logo {
        display: none;
    }

    .nav {
        border-right: none;
        padding-top: 25px;
        width: 100%;
        margin-top: 50px;
        height: calc(100% - 50px)
    }

    .nav.show {
        display: block;
    }

    .nav.hide {
        display: none;
    }
}