

.templateBody {
    white-space: pre-line;
}

.templateSubject {
    font-weight: bold;
}

.templateContent {
    text-align: left;
    padding: 0px 30px;
    font-size: 14px;
}

.templateContent Button {
    float: right;
}

.templateItem:hover {
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    .templateContent {
        padding: 10px;
        font-size: 12px;
    }
}
