.templateItem {
    padding: 15px 12px;
    text-align: left;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.templateItem:hover {
    cursor: pointer;
}

.current {
    background-color: #e6ebf5;
}