.template-item {
    background-color: lightgray;
    height: 60px;
    line-height: 60px;
    margin: 0;
    border-radius: 10px;
}

.template-body {
    white-space: pre-line;
}

.template-contents p {
    text-align: left;
}

.template-item:hover {
    cursor: pointer;
}