.revertButton {
    font-size: 10px;
    border: 1px solid #516991 !important;
    padding: 4px 5px !important;
    border-radius: 7px;
    color: #516991;
    font-weight: 700;
    cursor: pointer;
}