.revertButton {
    font-size: 11px;

    padding: 4px 5px !important;
    border-radius: 7px;
    color: #516991;
    font-weight: 700;
    background-color: #f2f6ff !important;
    cursor: pointer;
}