.tools {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 25px;
}

.tools input {
    width: 250px;
}

.hide {
    display: none;
}

@media only screen and (max-width: 450px) {
    .tools {
        justify-content: center;
        margin-left: 0px;
    }
}
