.loader {
    height: 50px;
    margin: 30px;
}

.scroll {
    display: none;
}

.tableBodyContainer {
    display: table;
    width: 100%;
}

.listContainer {
    overflow-x: auto;
    padding-bottom: 120px;
    overflow-y: visible;
}

.listContainer {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.listContainer::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

@media only screen and (max-width: 450px) {
    .tableBodyContainer {
        overflow-x: scroll;
    }

    .scroll {
        font-size: 10px;
        text-transform: uppercase;
        padding-bottom: 10px;
        text-align: center;
        display: block;
        color: #8193a1;
    }

    .scroll i {
        margin-left: 3px;
    }
}