.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-left: 180px;
}

.content {
    width: 90%
}

@media only screen and (max-width: 768px) {
    .container {
        margin-left: 0px;
    }

    .content {
        margin-left: -32px;
    }
}

h2 {
    font-size: 20px;
}

.mobile-list-container {
    display: none;
}

@media only screen and (max-width: 768px) {
    .mobile-list-container {
        display: block;
    }
    .main-list-container {
        display: none;
    }
    
    .content {
        width: 100%;
    }
}
