.button {
    padding: 9px 13px;
    margin: 4px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    border: 1px solid #d8dee3;
    font-size: 13px;
    background-color: white;
    transition: 0.5s;
}

.button:hover {
    background-color: #f0f3f5;
    border: 1px solid #afb9bd;

    /* box-shadow: 3px 3px 4px -2px lightgray; */
}

.button a {
    text-decoration: none;
    color: white;
}
