/* Button Styles */

.button {
    padding: 9px 20px;
    font-size: 14.5px;
    font-family: inherit;
    border: none;
    color: #282C33;
    border-radius: 50px;
    background-color: #EAEAEA;
    transition: 0.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    letter-spacing: 0.01rem;
}

.large {
    height: 42px;
}

.button:disabled {
    opacity: 0.5;
}

.button:disabled:hover {
    opacity: 0.5;
    cursor: not-allowed;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.buttonDark {
    composes: button;
    background-color: #282C33;
    color: white;
}

.buttonLink:hover {
    border: none;
    transition: 0.5s;
    opacity: 1;
}

.actionButton {
    border: none;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    color: #6f7478;
    font-size: 14px;
}

.actionButton:hover {
    cursor: pointer
}

.actionButton svg {
    margin-right: 10px;
    font-size: 15px;
}


/* Input, TextArea, Select Styles */

.input,
.textarea,
.select {
    border: 1px solid #e6e8ed;
    padding: 9px;
    font-size: 15px;
    border-radius: 5px;
    background-color: white;
}

.searchInput {
    border-radius: 20px;
    position: relative;
    padding: 0px;
    border: none;
}

.searchInput input {
    padding-left: 40px !important;
}

.searchInput svg {
    position: absolute;
    font-size: 14px;
    color: #888888;
    top: 33%;
    left: 15px;
}

/* .input, .select {
    height: 30px;
} */

.textarea {
    min-height: 60px;
    width: 60%;
    height: fit-content;
}

.select:hover {
    cursor: pointer;
}


@media only screen and (max-width: 800px) {
    .textarea {
        width: 90%
    }
}


/* User Guide Styles */

.instructions {
    padding: 20px 60px;
    text-align: left;
    font-size: 14px;
    line-height: 22px;
}

.instructions li {
    margin-top: 20px;
}

.instructions p {
    font-weight: bold;
    font-size: 15px;
}

.tabStyle {
    font-size: 14px;
    color: #768194;
    padding: 0px 5px;
}

.tabStyle i {
    font-size: 17px;
    margin-right: 3px;
}

.buttonStyle {
    display: inline-block;
    padding: 0px 13px;
    height: 30px;
    margin: 4px;
    border-radius: 5px;
    color: black;
    border: 1px solid #d8dee3;
    font-size: 13px;
    background-color: white;
    line-height: 30px;
}

.addButtonStyle {
    composes: buttonStyle;
    background-color: #7fba84;
    color: white;
    border: 1px solid #7fba84;
}

@media only screen and (max-width: 800px) {
    .instructions {
        padding: 10px 5px;
    }
}

.bgIcon {
    height: 23px;
    width: 23px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-right: 12px;
    font-size: 13px;
}

.greenIcon {
    background: #E3F1E4;
    color: #87AE8F;
}

.pinkIcon {
    background: #FDE8E8;
    color: #EC7376;
}

.yellowIcon {
    background: #FBF2D6;
    color: #F7D365;
}

.blueIcon {
    background: #EDF3F4;
    color: #8FB7BF;
}

.purpleIcon {
    background: #E2DDFB;
    color: #8F91D6;
}

.circle {
    height: 30px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    margin-right: 12px;
}

:global .red {
    background-color: #bf5656;
}

:global .green {
    background-color: #8cc47a;
}

:global .indigo {
    background-color: #7784bf;
}

:global .purple {
    background-color: #8878b0;
}

:global .teal {
    background-color: #78b09a
}

:global .blue {
    background-color: #7bacb3;
}