.tools {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    margin-top: 15px;
}

.buttons {
    display: flex;
    width: fit-content;
    justify-content: flex-end;
}

.search {
    flex: 1;
    margin-right: 15px;
}

.searchInput {
    width: 100%;
    border-radius: 20px !important;
}

.searchInput {
    padding: 10px 18px !important;
    font-size: 15px !important;
}

a {
    text-decoration: none;
}

.addButton {
    margin-left: 12px;
}

.hide {
    display: none;
}

.emailButtonMobile,
.addButtonMobile {
    display: none;
}


@media only screen and (max-width: 800px) {
    .tools button {
        width: 100px;
    }

    .emailButton,
    .addButton {
        display: none;
    }

    .emailButtonMobile,
    .search {
        margin-right: 10px;
    }

    .emailButtonMobile,
    .addButtonMobile {
        display: inline-flex;
        width: 38px !important;
        height: 38px !important;
        justify-content: center;
        align-items: center;
    }

    .emailButtonMobile svg,
    .addButtonMobile svg {
        font-size: 17px;
    }
}